body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}
.check {display:none;}

div {margin:auto;
    column-count:2;
    max-width: 260px;
    padding-top: 20px;
 
    
}

#checkmark {display:none;
}
ul {padding-left:0px;
    list-style: none;
    line-height: 2.4;
    color: #6A6A6A;
    font-weight: 100;
}

#cars {width:240px;
       float:left;
}
#count {
    float:right;
    width: 40px;
    text-align: right;
}

ul li {
    transition: 0.1s;
    color: #6A6A6A;
    transform: translateX(0px);
}

ul li:hover {
    cursor:pointer;
    color: #222222;
    transform: translateX(2px);
}

