@keyframes hello {
    0% {
        opacity: 0;
        transform: translateY(-5px);
}
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

body {
    animation: hello 1s 0 1 ease-out;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    font-weight:400;
    color: #222;
}
a:link {
    color: #222;
    text-decoration: none;
}

a:visited {
    color: #222;
    text-decoration: none;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 20px;
    margin: 0 auto;
    z-index: 2;
}

#grid {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 50px;
    margin: 0 auto;
    width: 80%;
    padding-top: 40px;
}
.group {
    margin: 0 auto;
    border: 4px;
    border-color: #000;
    transition: 0.3s ease-out;
}

.group:hover {
    transform: translate3d(10px, 0px, 0px);
    cursor: pointer;
}

.image {
    background-color: #F6F6F6;
    border-radius: 10px;
    width: 1000px;
    
}

.title {
    margin-top: 30px;
}