body, html {
    background-color: #fff;
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
}

.icon {
    margin: auto;

}

/* Animation */

.icon {
    transform-origin: center;
    animation: entrance 1s ease-in-out 0s 1;
}

@keyframes entrance {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    70% {   transform: scale(0.8);}
    95% {
        opacity: 1;
        transform: scale(1.02);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
    }