.header {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 7.5rem 0;
}

.contributors {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 7.5rem;
  border-radius: 1.5rem;
}

.caption {
  color: #6e6a8a;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.images img {
  width: 100%;
  border-radius: 1rem;
  transition: all 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.eastereggA {
  /* transform: rotateY(20deg); */
  /* animation: filtermadness 1s ease-out; */
  animation: cardhover 2s both ease-out;
}

@keyframes filtermadness {
  0%,
  100% {
    transform: rotateY(0deg);
  }
  150% {
    transform: rotateZ(5deg);
  }
}

@keyframes cardhover {
  0%,
  100% {
    transform: rotate3d(0, 0, 0, 0deg);
  }

  50% {
    transform: rotate3d(-1, 1, 0, 20deg) scale(0.95);
  }
}

@media (max-width: 920px) {
  .item {
    padding: 2rem;
    border-radius: 1rem;
  }

  .images {
    gap: 2rem;
  }

  .images img {
    max-width: 390px !important;
    border-radius: 0.5rem;
  }
}
