.roundedFont {
  font-family: ui-rounded, "SF Pro Rounded", system-ui, san-serif;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: top;
}

.stickyHead {
  top: 13vw;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 30em;
}

.stickyHead h1 {
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

.contentScroll {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 6em;
}

.logo {
  display: flex;
  background: radial-gradient(
    94.27% 94.27% at 17.71% 5.73%,
    #2f3133 0%,
    #1f2022 100%
  );
  flex-direction: row;
  padding: 1em;
  border-radius: 1em;
}

.logo img {
  width: 5em;
  height: 5em;
}

.title {
  font-size: 4.5em;
}

.subTitle {
  font-size: 2em;
  margin-block-end: -1rem;
  font-weight: 600;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 2em;
  gap: 1em;
}

.buttons a {
  text-decoration: none;
}

.button {
  color: var(--white);
  width: 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 3.5em;
  background: linear-gradient(82.45deg, #4a57ca 3.59%, #c081d0 100.3%);
  font-weight: 600;
  font-size: 1.5em;
  transition: all 0.15s;
}

.button:hover,
.buttonShare:hover,
.buttonFollow:hover {
  transform: translateY(-2px);
}

.button:active,
.buttonShare:active,
.buttonFollow:active {
  transform: scale(0.99);
}

.buttonShare {
  font-size: 1.5em;
  font-weight: 600;
  width: 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 3.5em;
  background: var(--primary-button-hover);
  color: var(--button-text);
  transition: all 0.15s;
}

.buttonFollow {
  font-size: 1.5em;
  font-weight: 600;
  max-width: 10em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 3.5em;
  background: var(--primary-button-hover);
  color: var(--button-text);
  margin-block-start: 3em;
  transition: all 0.15s;
}

.contentItem video {
  transform: translateZ(0);
  border-radius: 1em;
  width: 100%;
}

.contentItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentItem a {
  padding-top: 2em;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
}

.about {
  margin: 0 auto;
  max-width: 40em;
  margin-block-end: 4em;
}

.about a {
  text-decoration: none;
}

.about p {
  margin-block-start: 10em;
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
  line-height: 150%;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: top;
  }

  .stickyHead {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 30em; */
  }

  .contentScroll {
    width: 100%;
  }

  .contentItem img {
    width: 100%;
  }
}
