.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.icon {
  box-sizing: border-box;
  border: 0.5px solid rgb(53, 49, 49);
  width: 18.75rem;
  height: 18.75rem;
  margin: -0.25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon img {
  margin: 5rem auto;
  width: fit-content;
}

.icon p {
  text-align: center;
}
