.header {
  display: flex;
  flex-direction: column;
  padding: 12.5rem 0 8rem 0;
  gap: 2.5rem;
  box-sizing: border-box;
}

.subtitle {
  font-size: 1.5rem;
  line-height: 130%;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  color: hsl(0, 0%, 74%, 1);
  font-weight: 500;
  letter-spacing: -0.03em;
}

@media (max-width: 920px) {
  .subtitle {
    font-size: 1rem;
  }

  .header {
    gap: 1.5rem;
  }
}

/* heading jumping while animating for some reason, so I cut width here */
@media (max-width: 480px) {
  .header h1 {
    width: 92%;
  }
}
