.layout {
  animation: hello ease-out 0.3s;
  width: 100%;
  /* max-width: 78rem; */
  padding-block-start: 1.5rem;
  padding-block-end: 4rem;
  margin: 0 auto;
}

@keyframes hello {
  0% {
    opacity: 0;
    transform: translateY(4px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}
