.things {
  max-width: 30rem;
  padding-top: 10rem;
}

.things h2 {
  margin-block-end: 4rem;
}

.things a {
  color: inherit;
  text-decoration: none;
}

.thing {
  margin-block-end: 4rem;
}

.arrow {
  filter: var(--icon);
  width: 1.5rem;
  height: 1.5rem;
}

.arrow_shape {
  transition: all 0.1s;
  background: var(--gray-20);
  border-radius: 3rem;
  display: flex;
  transition: all 0.3s;
  opacity: 0;
}

.thing:hover .arrow_shape {
  opacity: 1;
  transform: translateX(8px);
}

.thing p {
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  color: var(--gray-40);
}

.thing .__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-block-end: 0.5rem;
}

.things h4 {
  margin-right: 0.5rem;
  margin-block-end: 0rem;
}
