.roundedFont {
  font-family: ui-rounded, "SF Pro Rounded", system-ui, san-serif;
}

.selectText {
  max-width: 50vw;
  transition: all 0.3s;
}

.selectText:active {
  transform: scale(1.2);
}

@media (prefers-color-scheme: dark) {
  .body {
    background-color: #ffffff;
  }
}
