.controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 18rem;
}

.controls .button {
  display: flex;
  flex-direction: row;
  margin: 0;
  background-color: #fff;
  border: none;
  gap: 1rem;
  padding: 24px;
  font-size: 1rem;
  border-radius: 0.5rem;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.button:hover {
  transform: scale(1.02);
}

.num {
  display: flex;
  border: 1px #272727 solid;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
}

.num_select {
  display: flex;
  border: 1px var(--primary-accent) solid;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  background-color: var(--primary-accent);
  color: #fff;
}

.controls .button p {
  margin-block-end: 0;
  margin-block-start: 0;
}

.submission_bg {
  display: flex;
  flex-direction: column;
  background-image: url("/images/work/case-one/item-7/Bg@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 390px;
  height: 844px;
  text-align: center;
  align-items: center;
  border-radius: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial;
}

.submission_textcontainer {
  padding-bottom: 6rem;
  width: 70%;
}

.submission_text {
  color: #707d95;
}

.submission_svg {
  transform: scale(1.6);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
