body {
    background-color: #777777;
}

#bg {
    display: flex;
    max-width: 860px;
    justify-content: center;
    margin: 0 auto;
}

#icon {
    margin: 10px;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
}

/* Clickable button */

button {
    outline: 0px;
    border: none;
    background: none;
    transform-origin: center;
}

button:hover {
    cursor: pointer;
}

/* Transition for Full screen and Exit full screen icons */

#corners path {
    transition: 0.1s ease-out;
}

/* Full Screen Icon */

.i_fullscr {
    stroke: white;
 }

.i_fullscr:hover .tr-corner {
    transform: translate(1px, -1px); 
}

.i_fullscr:hover .tl-corner {
    transform: translate(-1px, -1px); 
}

.i_fullscr:hover .br-corner {
    transform: translate(1px, 1px); 
}

.i_fullscr:hover .bl-corner {
    transform: translate(-1px, 1px); 
}


/* Exit Full Screen Icon */

.i_exit_fullscr {
    stroke: white;
 }

.i_exit_fullscr:hover .tr-corner {
    transform: translate(-1px, 1px); 
}

.i_exit_fullscr:hover .tl-corner {
    transform: translate(1px, 1px); 
}

.i_exit_fullscr:hover .br-corner {
    transform: translate(-1px, -1px); 
}

.i_exit_fullscr:hover .bl-corner {
    transform: translate(1px, -1px); 
}

/* Mic Icon */

.body-masked, .leg {
    fill: white;
}

.cross {
    stroke: white;
}

.rects {
    
    transform: rotate(-54deg);
}

.i_mic:hover .shutter {
    animation: shut 0.3s linear;
}

@keyframes shut {
    from {
        transform: translateX(-9px);
      }
      to {
        transform: translateX(-52px);
      }
  }

.i_mic:hover .cross {
    stroke-dasharray: 40;
    animation: dash 0.3s linear;
  }

  @keyframes dash {
    from {
        stroke-dashoffset: 40;
      }
  }