body {
    background-color: #777777;
}

.row {
    display: flex;
    max-width: 860px;
    justify-content: center;
    margin: 0 auto;
}

.icon {
    transition: 0.1s ease-in-out;
    margin: 10px;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
}

.icon:hover {
    background: rgba(0, 0, 0, 0.4);
}
/* Clickable button */

button {
    outline: 0px;
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
}

/* Transition for Full screen and Exit full screen icons */

#corners path {
    transition: 0.1s ease-out;
}

/* Full Screen Icon */

.i_fullscr {
    stroke: white;
 }

.i_fullscr:hover .tr-corner {
    transform: translate(1px, -1px); 
}

.i_fullscr:hover .tl-corner {
    transform: translate(-1px, -1px); 
}

.i_fullscr:hover .br-corner {
    transform: translate(1px, 1px); 
}

.i_fullscr:hover .bl-corner {
    transform: translate(-1px, 1px); 
}


/* Exit Full Screen Icon */

.i_exit_fullscr {
    stroke: white;
 }

.i_exit_fullscr:hover .tr-corner {
    transform: translate(-1px, 1px); 
}

.i_exit_fullscr:hover .tl-corner {
    transform: translate(1px, 1px); 
}

.i_exit_fullscr:hover .br-corner {
    transform: translate(-1px, -1px); 
}

.i_exit_fullscr:hover .bl-corner {
    transform: translate(1px, -1px); 
}

/* Mic Icon */

.body-masked, .leg {
    fill: white;
}

.cross {
    stroke-dashoffset: 40;
    stroke: white;
   
}

/* Turn mask on -54degree */

.rects {
    transform: rotate(-54deg);
}

/* Animation to mute */
.i_mic.mute .shutter {
    animation: close-shut 0.4s ease-in-out; 
}

@keyframes close-shut {
    0% {
        transform: translateX(-9px);
      }
     100% {
        transform: translateX(-52px);
      }
  }

.i_mic.mute .cross {
    opacity: 1;
    animation: close-cross 0.4s ease-in-out;
    animation-fill-mode: forwards;
}

  @keyframes close-cross {
    from {
        stroke-dashoffset: 80;
      }
      to {
        stroke-dashoffset: 40;
      }
    }

  /* Animation to unmute */

.i_mic .shutter {
    animation: open-shut 0.4s ease-in-out;
}

@keyframes open-shut {
    from {
        transform: translateX(-72px);
      }
     to {
        transform: translateX(-5px);
      }
  }

.i_mic .cross {
    opacity: 1;
    stroke-dasharray: 80;
    animation: open-cross 0.4s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes open-cross {
    from {
        stroke-dashoffset: 40;
      }
      to {
        stroke-dashoffset: 80;
      }
    }
 