html,
body {
  color: var(--text-dark);
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: pre-wrap;
}

h1 {
  font-size: 4rem;
  line-height: 140%;
  margin-block-end: 1.5rem;
}

.headingL {
  font-size: 3.5rem;
  line-height: 130%;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  letter-spacing: -0.03em;
}

.bodyMD {
  font-size: 1.5rem;
  line-height: 160%;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

.weightMedium {
  font-weight: 500;
}

@media (max-width: 900px) {
  .headingL {
    font-size: 2rem;
    line-height: 130%;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    letter-spacing: -0.03em;
  }
  .bodyMD {
    font-size: 1rem;
    line-height: 160%;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
  }
}

.content {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 1.5rem 7.5rem;
}

.link {
  color: var(--primary-accent);
  text-decoration: none;
  border-bottom: 1px solid;
}

.link:hover {
  color: inherit;
  cursor: pointer;
  border-bottom: 1px solid;
}

/* Light theme */

:root {
  --text-dark: #272727;
  --primary-accent: #f12f16;
  --text-light: #a29ea5;
}

::selection {
  color: white;
  background: rgb(166, 174, 248);
}
