html,
body {
    color: #232426;
    font-size: 1rem;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}


h1 {
    font-size: 1.5rem;
    line-height: 1.5em;
}
p {
    font-size: 1em;
}
@media (prefers-color-scheme: dark) {
    /* All text and bg */
    body {
        background-color: #151618;
        color: #F6F6F6;
    }
    .column:hover {
        cursor: pointer;
        background: #232426;
      }
  }

  @media (prefers-color-scheme: light) {
    /* All text and bg */
    body {
        color: #151618;
    }
    /* Listen on hover */
    .column:hover {
        cursor: pointer;
        background: #F9F9F9;
      }
  }